@import url('http://fonts.googleapis.com/css?family=Open+Sans');
body {
	margin: 0;
	padding: 0;
}

p {
	font-family: 'Open Sans', sans-serif;
}

h2 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: #00a8ff;
}

/* Map CSS */

#map {
	position:absolute;
	top:0;
	bottom:0;
	width:100%;
}

#info {
    background:rgba(255,255,255,1);
    border:1px solid #fff;
    position:absolute;
    width:20%;
    top:0;
    right:1;
    padding: 0px 15px;
    z-index: 2;
    opacity: 0.9;
    }

#map-ui {
  position: absolute;
  top: 175px;
  left: 24%;
  z-index: 100;
  padding:10px;
  background:#fff;
}

#map-ui ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


#search {
    position:absolute;
    font-family: 'Open Sans', sans-serif;
    top: 30px;
	left: 24%;
	height: 30px;
    width: 400px;
    z-index: 8;
}

#densite {
	position:absolute;
    top: 80px;
	left: 24%;
	z-index: 10;
}

#twitter {
	position:absolute;
    top: 30px;
	right: 5%;
	z-index: 10;
}

#timeline {
	position:absolute;
    bottom: 15px;
	right: 5%;
	z-index: 10;
}

#download {
	position:absolute;
    bottom: 0;
	left: 24%;
	z-index: 10;
}